<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head(title = 'Exam - homepage')}" />
<body>
<th:block th:replace="~{template :: header}" />

<main class="container" th:fragment="content">
    <table id="allMovies" class="table table-striped">
        <thead>
        <tr>
            <th width="70%">Title</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr class="result" data-th-each="quiz : ${quizes}">
            <td>[[${quiz.title}]]<br />[[${quiz.description}]]</td>
            <td>[[${quiz.username}]]</td>
        </tr>
        </tbody>
    </table>
</main>

<th:block th:replace="~{template :: footer}" />
</body>
</html>
